<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.garmin.android.apps.connectmobile" />
        <package android:name="com.garmin.connectiq" />
    </queries>

    <application
        android:label="Activity Status Companion">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ActivityStatusCheckReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="net.xrxss15.ACTIVITY_STATUS_CHECK" />
            </intent-filter>
        </receiver>

    </application>
</manifest>